<form>
    <div class="m-3">
      <label class="form-label">Nome</label>
      <input type="text" autocomplete="off" class="form-control" [(ngModel)]="username" name="Nome">
      
      <label class="form-label">Idade</label>
      <input type="text" autocomplete="off" class="form-control" [(ngModel)]="idade" name="Idade">

      <label class="form-label">Email</label>
      <input type="text" autocomplete="off" class="form-control" [(ngModel)]="email" name="Email">
      
      <label class="form-label">Senha</label>
      <input type="text" autocomplete="off" class="form-control" [(ngModel)]="senha" name="Senha">
    </div>
    <button type="submit" class="btn btn-primary btn-sm m-3" (click)="cadastrar()">Salvar</button>
    <button type="submit" class="btn btn-link m-3" routerLink="/pages/usuario/login">Voltar para o login</button>
</form>